.introContainer{
    /* color: red; */
    /* border: 1px solid black; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */

    display: inline-block;
    /* margin: 20px; */
    border-radius: 5px;
    width: 400px;
}

.introName{
    /* padding: 3px 0 0 10px; */
    margin-top: 20px;
    text-align: left;
    font-size: 23px;
}

.introInfo{
    padding: 5px 10px 10px 0px;
    /* border: 2px solid red; */
    text-align: left;
    color: rgb(109, 109, 109);
    font-size: 17px;
}

/* mobile */
@media only screen and (max-width: 600px) {
    .introContainer {
      width: 330px;
    }

    /* body{
        background-color: lightcoral;
    } */
  }