.introContainer{
    display: inline-block;
    border-radius: 5px;
    width: 400px;
}

.introGradient{
    background: -webkit-linear-gradient(left, #7656a4, #c785ae);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.introName{
    margin-top: 20px;
    text-align: left;
    font-size: 26px;
}

.introInfo{
    padding: 5px 10px 10px 0px;
    text-align: left;
    color: rgb(109, 109, 109);
    font-size: 17px;
}

/* mobile */
@media only screen and (max-width: 600px) {
    .introContainer {
      width: 330px;
    }
  }