.cardContainer{
    /* color: red; */
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    display: inline-block;
    margin: 20px;
    border-radius: 5px;
}

.cardBackground{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.cardName{
    /* padding: 5px 0 0 10px; */
    padding: 3px 0 10px 10px;

    /* border: 2px solid blue; */
    text-align: left;
    font-size: 23px;
}

.cardLocation{
    padding: 5px 0 0 10px;
    /* border: 2px solid red; */
    text-align: left;
    color: rgb(109, 109, 109);
    font-size: 17px;
}